{% extends 'admin_app/base.html' %}

{% block content %}
<div class="content-wrapper">
    <div class="album">
        <div class="row" style="justify-content: center; padding-top: 1rem; padding-left: 15rem;">
            <div class="col-md-3">
                <h3 style="text-align: center;">Список Акций</h3>
            </div>
            <div class="col-md-3">
                <a href="page/">
                    <button type="button" class="btn btn-block btn-default">Создать Акцию</button>
                </a>
            </div>
        </div>
    </div>
    <div class="container" style="padding: 2rem;">
        <table id="table" class="table table-striped" style="width:100%">
            <thead>
            <tr>
                <th>Название</th>
                <th>Дата создания</th>
                <th>Статус</th>

                <th class="no-sort"></th>
                <th class="no-sort"></th>
            </tr>
            </thead>
            <tbody>

            {% if events %}
            {% for elem in events %}
            <tr>
                <td>{{elem.name}}</td>
                <td>{{elem.post_date}}</td>
                <td>{% if elem.active %}
                    Вкл
                    {% else %}
                    Выкл
                    {% endif %}
                </td>
                <td>
                    <a href="{{ elem.get_event_url }}" style="display: flex; justify-content: center;">
                        <img src="/static/admin_app/image/pngegg.png" width="20px" height="20px" alt="">
                    </a>
                </td>
                <td>
                    <a href="{% url 'delete_events' elem.id %}" style="display: flex; justify-content: center;">
                        <img src="/static/admin_app/image/remoove.png" width="20px" height="20px" alt="">
                    </a>
                </td>
            </tr>

            {% endfor %}
            {% endif %}


            </tbody>
        </table>
    </div>

</div>
{% endblock %}