{% extends 'admin_app/base.html' %}

{% block content %}
<div class="content-wrapper">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row" style="justify-content: end">
            <div class="col-md-1" style="display: flex; align-items: center; justify-content: center;">
                <div class="form-check form-switch">
                    {{form.active}}
                    <label>Active</label>
                </div>
            </div>
            <div class="col-md-3">
                <table class="table table-bordered text-center">
                    <tbody>
                    <tr>
                        <td id="set_uk">
                            <button style="background-color: white;" type="button" onclick="choose_lan('uk')" class="btn btn-block btn-default">Украинский</button>
                        </td>
                        <td id="set_ru" style="background-color: #5f86ad;">
                            <button style="background-color: white;" type="button" onclick="choose_lan('ru')" class="btn btn-block btn-default">Русский</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="padding: 1rem;">
            <div class="col-md-1">
                <label>Телефон</label>
            </div>
            <div class="col">
                <div class="row" style="display: flex; flex-direction: column;">
                    <div class="col-md-2">
                        {{form.phone_0}}
                    </div>
                    <div class="col-md-2">
                        {{form.phone_1}}
                    </div>
                </div>
            </div>

        </div>
        <div class="row" style="padding: 1rem;">
            <div class="col-md-1">
                <label>Дата создания</label>
            </div>
            <div class="col-md-2">
                {{form.date}}
            </div>
        </div>
        <div class="row" style="padding: 1rem;">
            <div class="col-md-1">
                <label>SEO текст</label>
            </div>
            <div style="" class="col-md-5 lan_ru">
                {{form.seo_text_ru}}
            </div>
            <div style="display:none;" class="col-md-5 lan_uk">
                {{form.seo_text_uk}}
            </div>
        </div>


        <div class="row" style="padding: 1rem;">
            <div class="col-md-1">
                <label>SEO блок:</label>
            </div>
            <div class="col" style="padding-top: 1rem;">
                <div class="row">
                    <div class="col-md-1">
                        <label>URL: </label>
                    </div>
                    <div class="col-md-5">
                        {{seo_form.url}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <label>Title:</label>
                    </div>
                    <div class="col-md-5">
                        {{seo_form.title}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <label>Keywords:</label>
                    </div>
                    <div class="col-md-5">
                        {{seo_form.keywords}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <label>Description:</label>
                    </div>
                    <div class="col-md-5">
                        {{seo_form.description}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding: 1rem; justify-content: space-evenly;">
            <div class="col-md-2">
                <td>
                    <button type="submit" class="btn btn-block btn-default">Обновить и Сохранить</button>
                </td>

            </div>
            <div class="col-md-2">
                <td>
                    <button onClick="window.location.reload()" type="button" class="btn btn-block btn-default">Вернуть
                        базовую версию
                    </button>
                </td>
            </div>
        </div>
    </form>
</div>
{% endblock %}