{% extends 'cinema_app/base.html' %}
{%load static%}
{% load i18n %}
{% block content %}

<div class="row" style="width: 90%; margin-left: auto; margin-right: auto;">
    <img style="width: 100%; height: 100%; padding:0px" src="{{cinema.banner_image.url}}" alt="">
</div>
<div class="row "
     style="background-color: #f4f6f9; border: 2px solid #dee2e6; width: 90%; margin-left: auto; margin-right: auto;">

    <div class="col-2" style="margin:2rem;">
        <div class="row" style="margin-bottom: 2rem;">
            <div class="col">
                <img style="width: 100%; height: 100%" src="{% static 'cinema_app/images/afisha_cntxt_ads.png' %}"
                     alt="">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label style="font-size: 20px; margin-bottom: 1rem;">
                    {% trans 'Количество залов'%}: {{hall_ct}}
                </label>
            </div>
        </div>
        <div class="row" style="display: flex;flex-direction: column; border: solid 1px;">

            {% for hall in halls %}
            <div class="col" onclick="window.location.href='{%url 'hall_card' hall.cinema_id hall.id %}'"
                 style="cursor: pointer; padding:1rem; border: solid 1px; display: flex; justify-content: space-between;">
                <label style="font-size: 20px;display: flex;align-items: center;">{% trans 'Зал'%} {{hall.name}}</label>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col">
                <label style="font-size: 20px; margin-bottom: 1rem; margin-top: 2rem;">
                    {% trans 'Смотрите сегодня'%}:
                </label>
            </div>
        </div>
        <div class="row" id="all_seances" style="display: flex;flex-direction: column; border: solid 1px;">

            {% for seance in seances %}
            <div class="col"
                 style="cursor: pointer; padding:1rem; border: solid 1px; display: flex; justify-content: space-between;"
                 onclick="window.location.href='{%url 'booking' seance.id%}'">
                <label style="font-size: 20px;display: flex;align-items: center;">{% trans 'Сеанс'%} {{ forloop.counter }}</label>
            </div>
            {% endfor %}


        </div>

    </div>

    <div class="col" style="margin:2rem;">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    <label style="font-size: 30px;">
                        {{cinema.name}}
                    </label>
                </div>
                <div class="row" style="margin-top:2rem;">
                    <img style="width: 100%; height: 100%; padding:0px" src="{{cinema.image.url}}" alt="">
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col" style="display: flex;justify-content: center;">
                        <button type="button" onclick="window.location.href='/schedule/?cinema={{cinema.id}}'"
                                class="btn btn-success" style="margin:2rem;">
                            {% trans 'Расписание сеансов'%}
                        </button>
                    </div>

                </div>
                <div class="row" style="display: flex;justify-content: center;">
                    <div class="col-4"
                         style=" background-color: #343a40; margin:2rem; border-radius: 0.5rem; display: flex; padding:0.5rem; color: aliceblue; align-items: center; justify-content: space-around;">
                        <div class="icheck-primary d-inline">

                            <label
                                    style="border-radius: 0.5rem; padding-left: 0.5rem; padding-right: 0.5rem; background-color: #74287d;">
                                2D
                            </label>
                        </div>
                        <div class="icheck-primary d-inline">

                            <label
                                    style="border-radius: 0.5rem; padding-left: 0.5rem; padding-right: 0.5rem; background-color: #3f5bcc;">
                                3D
                            </label>
                        </div>
                        <div class="icheck-primary d-inline">

                            <label
                                    style="border-radius: 0.5rem; padding-left: 0.5rem; padding-right: 0.5rem; background-color: #3a9eba;">
                                IMAX
                            </label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row" style="margin:2rem; display: flex; text-align: center;">
                    <label style="font-size:20px">
                        {% trans 'О Кинотеатре'%}
                    </label>
                </div>
                <div class="row">
                    {{cinema.description}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row" style="margin:2rem; display: flex; text-align: center;">
                    <label style="font-size:20px">
                        {% trans 'Условия'%}
                    </label>
                </div>
                <div class="row">
                    {{cinema.terms}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" >
                <div class="row" style="margin-top:2rem; text-align: center;">
                    <label style="font-size:30px ">{% trans 'Фотогалерея'%}</label>
                </div>
                <div class="row" style="margin-top:2rem;">
                    <div id="carousel" class="carousel slide " data-bs-ride="carousel">
                    <div class="carousel-inner">

                        {%for item in gallery%}

                        <div class="carousel-item">
                            <img src="{{item.image.url}}" class="d-block w-100 " alt="...">
                        </div>

                        {%endfor%}

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}
{% block script %}
<script>
var item = $('.carousel-inner').children()[0]
item.setAttribute('class', 'carousel-item active')

</script>
{% endblock %}